//colors
$white:  #fff;
$black: #000;

$gray-700: #374151 ;
$gray-400: #9CA3AF;
$gray-200: #E5E7EB;
$pink-600: #db2777;
$pink-500: #ec4899;
$primary: #db2777;

// 1 rem = 10 px

// SIZE /& SPACING
$xxxs: .4rem;
$xxs: .8rem;
$xs: 1.2rem;
$s: 1.4rem;
$sm: 1.6rem;
$m: 1.8rem;
$xm: 2.4rem;
$xxm: 3.2rem;
$xxxm: 4.8rem;

//BREAKPOINTS

//media max-width
$mobile:743px;
$tablet:1439px;
$desktop: 1800px;

//media min-width
$mobile1: 375px;
$tablet1: 744px;
$desktop1:1440px;
