.content_C {
    @include style-text-box_B;
    padding-bottom: $xm;
    border-bottom: 0.05rem solid $gray-200;

    &__links {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        font-size: $s;
        gap: $sm;
    }

    &__links--top {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: visible;
        gap: $xs;
    }

    &__links--bottom {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: $xs;
    }

    &__links--tablet{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: $xs;
    }

    #links {
        display: flex;
        flex-direction: column;
        flex-direction: row;
        gap: $xs;
    }

    &__link {
        display: flex;
        flex-direction: row;
        gap: $xxs;

        &_1 {
            text-decoration: none;
            color: black;
        }

        &:hover .content_C__link_1 {
            color: $pink-600;
        }

        &:hover .content_C__arrow {
            transform: rotate(90deg);
        }

        &:hover .content_C__arrow-fig {
            transform: rotate(45deg);
        }

        &:hover .arrow {
            fill: $pink-600;
        }

        &:hover .content_C__tooltip {
            &_mail {
                visibility: visible;
                opacity: 1;
            }

            &_dribbble {
                visibility: visible;
                opacity: 1;
            }

            &_behance {
                visibility: visible;
                opacity: 1;
            }

            &_whatsapp {
                visibility: visible;
                opacity: 1;
            }

            &_linkedin {
                visibility: visible;
                opacity: 1;
            }

            &_resume {
                visibility: visible;
                opacity: 1;
            }

            &_framer {
                visibility: visible;
                opacity: 1;
            }

            &_webflow {
                visibility: visible;
                opacity: 1;
            }

            &_instagram {
                visibility: visible;
                opacity: 1;
            }

            &_pinterest {
                visibility: visible;
                opacity: 1;
            }

            &_medium {
                visibility: visible;
                opacity: 1;
            }

            &_github {
                visibility: visible;
                opacity: 1;
            }

            &_twitter {
                visibility: visible;
                opacity: 1;
            }
        }
    }

    &__arrow:hover .content_C__link {
        color: $pink-600;
    }

    &__tooltip {
        //top row
        $top-row: 70.2%;
        &_mail {
            @include style-tooltip;
            left: 27.8%;
            top: $top-row;
        }

        &_dribbble {
            @include style-tooltip;
            left: 38.8%;
            top: $top-row;
        }

        &_behance {
            @include style-tooltip; 
            left: 49.6%;
            top: $top-row;
        }

        &_whatsapp {
            @include style-tooltip;
            left: 56.8%;
            top: $top-row;
        }

        &_linkedin {
            @include style-tooltip;
            left: 74%;
            top: $top-row;
        }

        &_resume {
            @include style-tooltip;
            left: 76.8%;
            top: $top-row;
        }

        //bottom row
        $bottom-row:75.2%;
        &_framer {
            @include style-tooltip;
            left: 40.2%;
            top: $bottom-row;
        }

        &_webflow {
            @include style-tooltip;
            left: 42%;
            top:  $bottom-row;
        }

        &_instagram {
            @include style-tooltip;
            left: 55%;
            top:  $bottom-row;
        }

        &_pinterest {
            @include style-tooltip;
            left: 67.2%;
            top:  $bottom-row
        }

        &_medium {
            @include style-tooltip;
            left: 80.4%;
            top:  $bottom-row;
        }

        &_github {
            @include style-tooltip;
            left: 86.6%;
            top:  $bottom-row;
        }

        &_twitter {
            @include style-tooltip;
            left: 82.8%;
            top: $bottom-row;
            border-radius: 3rem 0rem 3rem 3rem;
        }
    }
}

@media screen and (max-width: $tablet){
    .content_C{
        &__links {
            display: flex;
            justify-content: flex-start;
            gap: $xs;
            font-size: $s;
        }
        &__links--bottom {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: $xs;
        }
        &__links--tablet{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: $xs;
        }
        &__tooltip {
            //top row
            $top-row: 69.8%;
            &_mail {
                @include style-tooltip;
                left: 37.2%;
                top:  $top-row;
            }
    
            &_dribbble {
                @include style-tooltip;
                left: 51.6%;
                top:  $top-row;
            }
    
            &_behance {
                @include style-tooltip; 
                left: 65.4%;
                top:  $top-row;
            }
    
            &_whatsapp {
                @include style-tooltip;
                left: 75%;
                top:  $top-row;
            }
    
            &_linkedin {
                @include style-tooltip;
                left: 56.8%;
                top:  $top-row;
                border-radius: 3rem 0rem 3rem 3rem;
                
            }
    
            &_resume {
                @include style-tooltip;
                left: 80.8%;
                top:  $top-row;
                border-radius: 3rem 0rem 3rem 3rem;
            }
    
            //bottom row
            $bottom-row-1: 73.4%;
            $bottom-row-2:77.4%;
            &_framer {
                @include style-tooltip;
                left: 53.4%;
                top: $bottom-row-1;
            }
    
            &_webflow {
                @include style-tooltip;
                left: 55.8%;
                top: $bottom-row-1;
            }
    
            &_instagram {
                @include style-tooltip;
                left: 73.2%;
                top: $bottom-row-1;
            }
    
            &_pinterest {
                @include style-tooltip;
                left: 68.6%;
                top: $bottom-row-1;
                border-radius: 3rem 0rem 3rem 3rem;
            }
    
            &_medium {
                @include style-tooltip;
                left: 78.8%;
                top: $bottom-row-1;
                border-radius: 3rem 0rem 3rem 3rem;
            }
    
            &_github {
                @include style-tooltip;
                left: 30%;
                top: $bottom-row-2;
            }
    
            &_twitter {
                @include style-tooltip;
                left: 43.2%;
                top: $bottom-row-2;
            }
        }
    }
}

@media screen and (max-width: $mobile) {
    .content_C {
        @include style-text-box_B;
        padding-bottom: $s;
        border-bottom: 0.025rem solid $gray-200;
        

        &__links {
            display: flex;
            justify-content: flex-start;
            gap: $xs;
            font-size: $xs;
        }

        &__links--top {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            overflow: visible;
            gap: $xs;
        }

        &__links--bottom {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            overflow: visible;
            gap: $xs;
        }

        &__links--tablet {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            overflow: visible;
            gap: $xs;
        }

        #links {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            gap: $xxs;
        }

        &__tooltip {
           
            //top 
            $row-1: 69.8%;
            $row-2:73.2%;
            &_mail {
                @include style-tooltip-mobile;
                width: 13rem;
                left: 44.8%;
                top: $row-1;
                
            }

            &_dribbble {
                @include style-tooltip-mobile;
                width: 12rem;
                left: 70.4%;
                top: $row-1;
            }

            &_behance {
                @include style-tooltip-mobile;
                width: 11.4rem;
                left: 58.8%;
                top: $row-1;
                border-radius: 1.5rem 0rem 1.5rem 1.5rem;
            }

            &_whatsapp {
                @include style-tooltip-mobile;
                width: 13.5rem;
                left: 58.2%;
                top: $row-2;
            }

            &_linkedin {
                @include style-tooltip-mobile;
                width: 11.8rem;
                left: 45.2%;
                top: $row-2;
                text-align: right;
                border-radius: 1.5rem 0rem 1.5rem 1.5rem;
            }

            &_resume {
                @include style-tooltip-mobile;
                width: 6.5rem;
                left: 78.2%;
                top: $row-2;
                text-align: right;
                border-radius: 1.5rem 0rem 1.5rem 1.5rem;
            }

            //bottom
            $row-3: 76.7%;
            $row-4: 80.2%;
            $row-5: 83.4%;
            &_framer {
                @include style-tooltip-mobile;
                width: 12.8rem;
                left: 30.8%;
                top: $row-3;
                text-align: right;
                border-radius: 1.5rem 0rem 1.5rem 1.5rem;
            }

            &_webflow {
                @include style-tooltip-mobile;
                width: 6.5rem;
                left: 67.8%;
                top: $row-3;
                text-align: right;
                border-radius: 1.5rem 0rem 1.5rem 1.5rem;
            }

            &_instagram {
                @include style-tooltip-mobile;
                width: 6.5rem;
                left: 48.4%;
                top: $row-4;
            }

            &_pinterest {
                @include style-tooltip-mobile;
                width: 6.5rem;
                left: 76.4%;
                top: $row-4;
            }

            &_medium {
                @include style-tooltip-mobile;
                width: 8.4rem;
                left: 78.2%;
                top:$row-4;
                text-align: right;
                border-radius: 1.5rem 0rem 1.5rem 1.5rem;
            }

            &_github {
                @include style-tooltip-mobile;
                width: 6.5rem;
                left: 41%;
                top:  $row-5;
            }

            &_twitter {
                @include style-tooltip-mobile;
                width: 6.5rem;
                left:66.2%;
                top:  $row-5;
            }
        }

       
    }
}



